#Navigation {
	height: 240px;
	width: 20%;
	background-color:  #FF851B;
	float:left;
}
#main {width:1100px;
float: right;
color: black;
	background-color: #C0C0C0;
}
#ver {
	height: 50px;
	width:600px;
background-color: #FFDC00
}
#second {
	background-color: #00E5EE;
	height:200;
	width:1100;
}
#third {
	width: 1100;
	height: 200;
	background-color: #00E5EE;
}
